@using CopaceticSoftware.pMixins.Mvc.Extensions



<h2>Casting and Conversion (<em>is</em> / <em>as</em>) Operators</h2>

<a href="http://msdn.microsoft.com/en-us/library/scekt9xw.aspx">is</a>

<a href="http://msdn.microsoft.com/en-us/library/cscsdfbt.aspx">as</a>

<a href="http://stackoverflow.com/questions/18390664/c-sharp-implicit-conversion-operator-and-is-as-operator">Stack Overflow: C# Implicit Conversion Operator and is/as operator</a>

@Html.RenderSourceClass("CastingAndConversionOperators/CastingAndConversionOperators.cs", "ISomeInterface")

@Html.RenderSourceClass("CastingAndConversionOperators/CastingAndConversionOperators.cs", "SomeBaseClass")

@Html.RenderSourceClass("CastingAndConversionOperators/CastingAndConversionOperators.cs", "Mixin")

@Html.RenderSourceClass("CastingAndConversionOperators/CastingAndConversionOperators.cs", "CastingAndConversionOperators")

@Html.RenderSourceClass("CastingAndConversionOperators/CastingAndConversionOperatorsTest.cs", "CastingAndConversionOperatorsTest")