
@{
    ViewBag.Title = "Recipe";
}
@model CopaceticSoftware.pMixins.Mvc.Models.Recipe

<h2>Recipe - @Model.Name</h2>

<p>@Model.Intro</p>

@foreach (var code in @Model.CodeDescriptions)
{
    if (!string.IsNullOrEmpty(code.Forward))
    {
         <p>@code.Forward</p>
    }

    if (!string.IsNullOrEmpty(code.Code))
    {
        <pre class="prettyprint">
@code.Code
        </pre>
    }

    if (!string.IsNullOrEmpty(code.Afterward))
    {
        <p>@code.Afterward</p>
    }
}
