
@using CopaceticSoftware.pMixins.Mvc.Extensions



<h2>The Repository</h2>
<p>
    Intro
</p>

@Html.RenderSourceClass("Repository/Repository.cs", "IEntity")

@Html.RenderSourceClass("Repository/Repository.cs", "IReadById")

@Html.RenderSourceClass("Repository/Repository.cs", "IReadAll")

@Html.RenderSourceClass("Repository/Repository.cs", "ICreate")

@Html.RenderSourceClass("Repository/Repository.cs", "IUpdate")

@Html.RenderSourceClass("Repository/Repository.cs", "IDelete")

@Html.RenderSourceClass("Repository/Repository.cs", "MyEntity")

@Html.RenderSourceClass("Repository/Repository.cs", "RepositoryBase")

@Html.RenderSourceClass("Repository/Repository.cs", "SqlReadById")

@Html.RenderSourceClass("Repository/Repository.cs", "SqlCreate")

@Html.RenderSourceClass("Repository/Repository.cs", "MyEntityRepository")

